@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #efefef;
  font-family: var("--vazir-font");
}

a {
  cursor: pointer;
}

.spinner {
  margin: 3.2rem auto 1.6rem;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid rgb(var(--color-primary-900));
  border-right-color: rgb(var(--color-primary-200));
  animation: rotate 1s infinite linear;
}

.spinner-mini {
  margin: 0;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid rgb(var(--color-primary-200));
  border-right-color: transparent;
  animation: rotate 1s infinite linear;
}

/* comment  indicator */

.post-comments .post-comments__answer {
  position: relative;
}
.post-comments .post-comments__answer::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: -15px;
  top: -13px;
  width: 3px;
  background-color: rgb(var(--color-secondary-200));
}

.post-comments .post-comments__answer .answer-item::before {
  content: "";
  display: block;
  height: 3px;
  position: relative;
  right: -31px;
  top: 57px;
  width: 15px;
  background-color: rgb(var(--color-secondary-200));
  z-index: 10;
}

.post-comments .post-comments__answer .last-item:after {
  content: "";
  display: block;
  height: calc(100% - 80px);
  position: absolute;
  right: -15px;
  top: 76px;
  width: 4px;
  background-color: rgb(var(--color-secondary-200));
}
