@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .textFeild__input{
      @apply transition-all duration-300 p-2 border border-gray-300 rounded-lg hover:border-blue-500 focus:border-blue-500 focus:shadow-sm text-gray-600 focus:shadow-blue-500 w-full outline-none
  }

  .btn{
      @apply transition-all duration-300 bg-blue-600 hover:bg-blue-500 text-white py-2 w-full rounded-xl
  }
}


body {
  background-color: #efefef;
  font-family: var("--vazir-font");
}

a {
  cursor: pointer;
}

.spinner {
  margin: 3.2rem auto 1.6rem;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid rgb(var(--color-primary-900));
  border-right-color: rgb(var(--color-primary-200));
  animation: rotate 1s infinite linear;
}

.spinner-mini {
  margin: 0;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid rgb(var(--color-primary-200));
  border-right-color: transparent;
  animation: rotate 1s infinite linear;
}

/* comment  indicator */

.post-comments .post-comments__answer {
  position: relative;
}
.post-comments .post-comments__answer::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: -15px;
  top: -13px;
  width: 3px;
  background-color: rgb(var(--color-secondary-200));
}

.post-comments .post-comments__answer .answer-item::before {
  content: "";
  display: block;
  height: 3px;
  position: relative;
  right: -31px;
  top: 57px;
  width: 15px;
  background-color: rgb(var(--color-secondary-200));
  z-index: 10;
}

.post-comments .post-comments__answer .last-item:after {
  content: "";
  display: block;
  height: calc(100% - 80px);
  position: absolute;
  right: -15px;
  top: 76px;
  width: 4px;
  background-color: rgb(var(--color-secondary-200));
}

/* TABLE */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table .title-row {
  background-color: rgb(var(--color-secondary-100));
}

table td,
table th {
  border-bottom: 1px solid rgb(var(--color-secondary-200));
  text-align: right;
  white-space: nowrap;
}

table th {
  padding: 0.6rem 1rem;
  color: rgb(var(--color-secondary-600));
  font-size: 0.9rem;
}

table td {
  font-size: 0.85rem;
  padding: 1rem 1rem;
  color: rgb(var(--color-secondary-600));
}
